<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-courses-heading" data-cy="CoursesCreateUpdateHeading">Create or edit a Courses</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_courseName">Course Name</label>
          <input
            type="text"
            class="form-control"
            name="courseName"
            id="field_courseName"
            data-cy="courseName"
            formControlName="courseName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_creditHour">Credit Hour</label>
          <input
            type="number"
            class="form-control"
            name="creditHour"
            id="field_creditHour"
            data-cy="creditHour"
            formControlName="creditHour"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_students">Students</label>
          <select class="form-control" id="field_students" data-cy="students" name="students" formControlName="students">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="studentsOption.id === editForm.get('students')!.value?.id ? editForm.get('students')!.value : studentsOption"
              *ngFor="let studentsOption of studentsSharedCollection; trackBy: trackStudentsById"
            >
              {{ studentsOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_teacher">Teacher</label>
          <select class="form-control" id="field_teacher" data-cy="teacher" name="teacher" formControlName="teacher">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="teacherOption.id === editForm.get('teacher')!.value?.id ? editForm.get('teacher')!.value : teacherOption"
              *ngFor="let teacherOption of teachersSharedCollection; trackBy: trackTeacherById"
            >
              {{ teacherOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
